<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://35.159.40.202</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://35.159.40.202</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=35.159.40.202,1433\EC2AMAZ-LKV292I\SQLEXPRESS;Initial Catalog=aspnet-Quadridge2-20180928053641;Persist Security Info=True;User ID=deploy;Password=}e!f8::#4&lt;rH2MP9" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Quadridge2.Models.ApplicationDbContext, Quadridge2" MigrationConfiguration="Quadridge2.Migrations.Configuration, Quadridge2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=35.159.40.202,1433\EC2AMAZ-LKV292I\SQLEXPRESS;Initial Catalog=aspnet-Quadridge2-20180928053641;Persist Security Info=True;User ID=deploy;Password=}e!f8::#4&lt;rH2MP9</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>