@model  Quadridge2.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-6 col-lg">
        <div class="card">
            <div class="card-body">
                <h4>Upcoming Birthdays</h4>

                @if (Model.BirthdayContacts.Count() == 0)
                {
                    <p>No Upcoming birthdays</p>
                }
                else
                {
                    <ul class="list-group">
                        @foreach (var contact in Model.BirthdayContacts)
                        {
                            string sqlFormattedDate = contact.Birthday.HasValue
                            ? contact.Birthday.Value.ToString("dd-MM-yyyy")
                            : "<not available>";
                            <li class="list-group-item">
                                @Html.ActionLink(contact.Fullname + " " + sqlFormattedDate, "Details", "Contacts", new { id = contact.Id }, null)
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col-6 col-lg">
        <div class="card">
            <div class="card-body">
                <h4>New Contacts</h4>
                <ul class="list-group">
                    @foreach (var contact in Model.NewContacts)
                    {
                        <li class="list-group-item">
                            @Html.ActionLink(contact.Firstname + " " + contact.Surname, "Details", "Contacts", new { id = contact.Id }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 col-lg">
        <div class="card">
            <div class="card-body">
                <h4>New Companies</h4>

                @if (Model.Companies == null)
                {
                    <p>No companies yet</p>
                    <button class="btn btn-primary">Add company</button>
                }
                else
                {
                    <ul class="list-group">
                        @foreach (var company in Model.Companies)
                        {
                            <li class="list-group-item">
                                @Html.ActionLink(company.Name, "Details", "Companies", new { id = company.Id }, null)
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col-6 col-lg">
        <div class="card">
            <div class="card-body">
                <h4>New Deals</h4>

                @if (Model.Structures == null)
                {
                    <p>No deals yet</p>
                    <button class="btn btn-primary">Add deal</button>
                }
                else
                {
                    <ul class="list-group">
                        @foreach (var structure in Model.Structures)
                        {
                            <li class="list-group-item">
                                @Html.ActionLink(structure.Name, "Details", "Structures", new { id = structure.Id }, null)
                            </li>
                        }
                    </ul>
                }    
                </div>
        </div>
    </div>
</div>