@model IEnumerable<Quadridge2.Models.Deal>
@{
    ViewBag.Title = "Deals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("New Deal", "New", "Deals", null, new { @class = "btn btn-primary" })</p>

@if (!Model.Any())
{
    <p> We do not have any deals yet </p>
}
else
{
    <table id="deals" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Structure Name</th>
                <th>Edit / Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deal in Model)
            {
                <tr>
                    <td>@Html.ActionLink(deal.StructureName, "Details", "Contacts", new { id = deal.Id }, null)</td>
                    <td>
                        <button class="btn btn-primary">Edit</button>
                        <button data-deal-id="@deal.Id" class="btn btn-primary js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#deals").DataTable();

            $("#deals .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this contact?")) {
                    $.ajax({
                        url: "/api/deals/" + button.attr("data-deal-id"),
                        method: "DELETE",
                        success: function () {
                            //console.log("Success");
                            table.row(button.parents("tr")).remove().draw();
                        }
                    }); // ajax
                }
            }); // on click function
        }); // ready function
    </script>
}

