<div class="sidebar" data-color="azure" data-background-color="white" data-image="~/Content/assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Images/Quadridge-Web-Logo-Retina.png" width="80%"/> 
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
                
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index", "Clients")">
                    <i class="material-icons">person</i>
                    <p>Clients</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index", "Deals")">
                    <i class="material-icons">whatshot</i>
                    <p>Deals</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./typography.html">
                    <i class="material-icons">face</i>
                    <p>Interactions</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./icons.html">
                    <i class="material-icons">local_atm</i>
                    <p>Banks</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./map.html">
                    <i class="material-icons">gavel</i>
                    <p>Lawyers</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./notifications.html">
                    <i class="material-icons">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
            <!-- <li class="nav-item active-pro ">
                  <a class="nav-link" href="./upgrade.html">
                      <i class="material-icons">unarchive</i>
                      <p>Upgrade to PRO</p>
                  </a>
              </li> -->
        </ul>
    </div>
</div>

