@model ICollection<Quadridge2.Models.Trust>
@{
    ViewBag.Title = "Trusts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>@Html.ActionLink("New Trust", "New", "Trusts", null, new { @class = "btn btn-primary" })</p>

@if (!Model.Any())
{
    <p> We do not have any Trusts yet </p>
}
else
{
    <table id="entities" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Services</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trust in Model)
            {
                <tr>
                    <td>@Html.ActionLink(trust.Name, "Details", "Trusts", new { id = trust.Id }, null)</td>
                    <td>
                        <ul></ul>
                    </td>
                    <td>
                        <button class="btn btn-primary">Edit</button>
                        <button data-entity-id="@trust.Id" class="btn btn-primary js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#trusts").DataTable();

            $("#customers .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this trust?")) {
                    $.ajax({
                        url: "/Trusts/Delete" + button.attr("data-trust-id"),
                        method: "DELETE",
                        success: function () {
                            //console.log("Success");
                            table.row(button.parents("tr")).remove().draw();
                        }
                    }); // ajax
                }
            }); // on click function
        }); // ready function
    </script>
}

